<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="uds_test.Source.Script.Script" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="uds_test.Source.Simulation.SimulationConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="uds_test.Source.Monitor.MonitorConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="uds_test.Source.Setting.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <uds_test.Source.Script.Script>
            <setting name="ScriptLastFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="ScriptFilePathRecord" serializeAs="String">
                <value/>
            </setting>
        </uds_test.Source.Script.Script>
        <uds_test.Source.Simulation.SimulationConfig>
            <setting name="ConfigFilePathRecord" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConfigFileLastPath" serializeAs="String">
                <value/>
            </setting>
        </uds_test.Source.Simulation.SimulationConfig>
        <uds_test.Source.Monitor.MonitorConfig>
            <setting name="ConfigFilePathRecord" serializeAs="String">
                <value/>
            </setting>
            <setting name="Update" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HighLightCycle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BeginUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigFileLastPath" serializeAs="String">
                <value/>
            </setting>
        </uds_test.Source.Monitor.MonitorConfig>
        <uds_test.Source.Setting.Settings>
            <setting name="ConfigFileRecord" serializeAs="String">
                <value />
            </setting>
            <setting name="MapFileRecord" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableCanChannel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableLinChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectCanChannel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectLinChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigFileCurrentPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DriverSelect" serializeAs="String">
                <value>Kvaser Pro</value>
            </setting>
            <setting name="EnableDoipChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectDoipChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Signature" serializeAs="String">
                <value />
            </setting>
        </uds_test.Source.Setting.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
